In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sqlalchemy import create_engine

In [2]:
from sqlalchemy import create_engine

db_name = 'mm_db'
db_password = 'database123!'
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/{db_name}"
engine = create_engine(db_string)

In [4]:
tourney_compact = pd.read_sql('select * from mncaa_tourney_compact_results', engine)
tourney_compact

      season  daynum  wteam_id  wscore  lteam_id  lscore wloc  num_ot
0       1985     136      1116      63      1234      54    N       0
1       1985     136      1120      59      1345      58    N       0
2       1985     136      1207      68      1250      43    N       0
3       1985     136      1229      58      1425      55    N       0
4       1985     136      1242      49      1325      38    N       0
...      ...     ...       ...     ...       ...     ...  ...     ...
2312    2021     148      1211      85      1425      66    N       0
2313    2021     148      1417      51      1276      49    N       0
2314    2021     152      1124      78      1222      59    N       0
2315    2021     152      1211      93      1417      90    N       1
2316    2021     154      1124      86      1211      70    N       0

[2317 rows x 8 columns]

In [5]:
tourney_detailed = pd.read_sql('select * from mncaa_tourney_detailed_results', engine)
tourney_detailed

,season,daynum,wteam_id,wscore,lteam_id,lscore,wloc,num_ot,wfgm,wfga,...,lfga3,lftm,lfta,lor,ldr,last,lto,lstl,lblk,lpf
0,2003,134,1421,92,1411,84,N,1,32,69,...,31,14,31,17,28,16,15,5,0,22
1,2003,136,1112,80,1436,51,N,0,31,66,...,16,7,7,8,26,12,17,10,3,15
2,2003,136,1113,84,1272,71,N,0,31,59,...,28,14,21,20,22,11,12,2,5,18
3,2003,136,1141,79,1166,73,N,0,29,53,...,17,12,17,14,17,20,21,6,6,21
4,2003,136,1143,76,1301,74,N,1,27,64,...,21,15,20,10,26,16,14,5,8,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1176,2021,148,1211,85,1425,66,N,0,33,66,...,15,14,19,7,20,9,9,7,0,13
1177,2021,148,1417,51,1276,49,N,0,21,54,...,11,6,11,8,24,12,14,5,3,11
1178,2021,152,1124,78,1222,59,N,0,29,55,...,19,11,16,13,12,10,10,4,5,10
1179,2021,152,1211,93,1417,90,N,1,37,63,...,17,14,21,7,24,21,9,4,1,16
1180,2021,154,1124,86,1211,70,N,0,30,67,...,17,15,21,1,16,16,14,4,3,17

In [8]:
#determine which daynum the final is played on

last_tourney_day = tourney_detailed.groupby(['season'], sort=False)['daynum'].max()

last_tourney_day

season
2003    154
2004    154
2005    154
2006    154
2007    154
2008    154
2009    154
2010    154
2011    154
2012    154
2013    154
2014    154
2015    154
2016    154
2017    154
2018    154
2019    154
2021    154
Name: daynum, dtype: int64

In [15]:
# look at tourney final matchups

tourney_finals = tourney_detailed.loc[tourney_detailed['daynum'] == 154].reset_index()
tourney_finals.T

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
index,63,127,191,255,319,383,447,511,578,645,712,779,846,913,980,1047,1114,1180
season,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2021
daynum,154,154,154,154,154,154,154,154,154,154,154,154,154,154,154,154,154,154
wteam_id,1393,1163,1314,1196,1196,1242,1314,1181,1163,1246,1257,1163,1181,1437,1314,1437,1438,1124
wscore,81,82,75,73,84,75,89,61,53,67,82,60,68,77,71,79,85,86
lteam_id,1242,1210,1228,1417,1326,1272,1277,1139,1139,1242,1276,1246,1458,1314,1211,1276,1403,1211
lscore,78,73,70,57,75,68,72,59,41,59,76,54,63,74,65,62,77,70
wloc,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N
num_ot,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0
wfgm,30,26,27,26,26,29,28,23,19,23,28,22,24,28,26,27,27,30
wfga,63,61,52,58,53,55,61,52,55,56,61,53,51,48,73,57,59,67
wfgm3,11,5,9,6,10,3,5,5,1,6,8,6,4,8,4,10,11,10
wfga3,18,17,16,19,18,12,12,17,11,14,16,19,11,14,27,27,24,23
wftm,10,25,12,15,22,14,28,10,14,15,18,10,16,13,15,15,20,16
wfta,17,39,19,20,25,15,40,16,16,21,23,10,20,17,26,20,23,18
wor,11,18,8,9,10,9,11,11,17,12,15,8,6,2,15,12,11,14
wdr,25,32,26,26,28,30,24,26,36,31,17,26,27,21,31,26,28,20
wast,13,10,12,21,11,14,13,12,6,12,18,8,7,6,15,7,15,18
wto,17,16,10,6,15,17,7,12,11,11,9,10,5,10,4,12,11,7
wstl,10,5,4,7,5,11,9,5,4,4,9,9,4,5,7,5,4,8
wblk,7,2,2,10,3,1,0,7,10,11,3,4,6,5,8,3,3,5
wpf,22,18,13,13,19,18,22,14,15,15,22,17,13,16,22,18,15,19
lfgm,31,27,27,22,30,25,22,20,12,22,25,18,25,27,20,24,27,25
lfga,71,71,70,61,64,62,55,58,64,62,48,46,61,63,59,55,63,49
lfgm3,4,7,12,3,4,6,7,6,9,5,8,5,7,11,8,3,10,5
lfga3,20,22,40,17,23,22,23,18,33,11,18,16,21,17,19,23,30,17
lftm,12,12,4,10,11,12,21,13,8,10,18,13,6,9,17,11,13,15
lfta,30,21,6,14,17,19,29,18,14,15,25,24,10,13,26,18,15,21
lor,26,18,17,14,10,11,13,14,20,11,8,10,11,16,12,6,9,1
ldr,26,25,22,26,18,17,29,21,21,24,19,23,24,20,37,21,23,16
last,18,9,18,11,10,14,13,7,5,9,12,11,13,16,11,6,9,16
lto,18,14,8,12,7,13,21,8,6,9,12,13,5,11,14,10,8,14
lstl,9,10,8,3,11,11,1,4,8,6,3,6,3,5,2,6,6,4
lblk,4,1,1,1,4,3,5,0,2,5,2,5,1,3,5,1,3,3
lpf,16,26,18,22,20,17,28,18,17,16,15,10,15,20,22,20,18,17

In [17]:
#list of ncaa tourney winner ids

winners = tourney_finals['wteam_id'].tolist()
winners

[1393,
 1163,
 1314,
 1196,
 1196,
 1242,
 1314,
 1181,
 1163,
 1246,
 1257,
 1163,
 1181,
 1437,
 1314,
 1437,
 1438,
 1124]

In [18]:
reg_season = pd.read_sql('select * from mregular_season_detailed_results', engine)
reg_season

,season,daynum,wteam_id,wscore,lteam_id,lscore,wloc,num_ot,wfgm,wfga,...,lfga3,lftm,lfta,lor,ldr,last,lto,lstl,lblk,lpf
0,2003,10,1104,68,1328,62,N,0,27,58,...,10,16,22,10,22,8,18,9,2,20
1,2003,10,1272,70,1393,63,N,0,26,62,...,24,9,20,20,25,7,12,8,6,16
2,2003,11,1266,73,1437,61,N,0,24,58,...,26,14,23,31,22,9,12,2,5,23
3,2003,11,1296,56,1457,50,N,0,18,38,...,22,8,15,17,20,9,19,4,3,23
4,2003,11,1400,77,1208,71,N,0,30,61,...,16,17,27,21,15,12,10,7,1,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102027,2022,132,1222,71,1272,53,N,0,25,58,...,10,8,14,9,25,15,15,5,4,19
102028,2022,132,1234,75,1345,66,N,0,26,61,...,20,11,17,17,31,13,17,4,2,22
102029,2022,132,1350,64,1172,62,N,0,22,51,...,27,15,17,4,26,12,9,4,2,16
102030,2022,132,1397,65,1401,50,N,0,22,56,...,19,14,18,10,24,6,12,6,0,14
102031,2022,132,1463,66,1343,64,N,0,24,52,...,30,4,5,5,24,11,10,8,3,13

In [19]:
winner_reg_stats = reg_season[reg_season['wteam_id'].isin(winners)]
winner_reg_stats = winner_reg_stats.drop(['lteam_id', 'lscore', 'lfgm', 'lfga', 'lfgm3', 'lfga3', 'lftm', 'lfta', 'lor', 'ldr', 
                                         'last', 'lto', 'lstl', 'lblk', 'lpf'], axis=1)
winner_reg_stats

,season,daynum,wteam_id,wscore,wloc,num_ot,wfgm,wfga,wfgm3,wfga3,wftm,wfta,wor,wdr,wast,wto,wstl,wblk,wpf
19,2003,14,1314,85,H,0,32,60,5,15,16,23,12,34,18,14,8,4,12
27,2003,15,1196,76,H,0,28,48,4,13,16,24,8,23,18,18,13,5,19
28,2003,15,1242,81,H,0,28,53,3,5,22,37,13,29,12,19,10,3,21
30,2003,16,1314,71,H,0,27,57,5,14,12,19,14,30,19,20,8,5,13
32,2003,17,1196,99,H,0,39,73,11,28,10,22,16,31,32,14,10,14,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101973,2022,130,1242,75,N,0,30,60,6,18,9,11,4,20,18,6,6,6,17
101975,2022,130,1246,77,N,0,30,61,7,15,10,13,8,25,21,12,4,9,15
102000,2022,130,1437,63,N,0,23,54,10,30,7,8,3,22,14,6,4,3,11
102009,2022,131,1242,74,N,0,22,51,5,22,25,32,6,27,12,13,8,2,16
102024,2022,131,1437,54,N,0,19,57,8,32,8,12,9,29,9,8,6,0,10

In [24]:
winner_reg_means = winner_reg_stats.drop(['season', 'daynum', 'wloc', 'num_ot'], axis=1)
winner_reg_means = winner_reg_means.groupby('wteam_id').mean()
winner_reg_means = winner_reg_means.round(decimals=2)
winner_reg_means

,wscore,wfgm,wfga,wfgm3,wfga3,wftm,wfta,wor,wdr,wast,wto,wstl,wblk,wpf
wteam_id,,,,,,,,,,,,,,
1124,77.81,27.37,56.91,7.76,19.97,15.31,21.53,12.20,25.45,15.54,13.11,7.50,4.77,15.92
1163,77.67,27.51,57.85,6.30,16.55,16.35,22.87,12.61,27.65,15.18,12.72,6.51,7.31,15.34
1181,81.81,28.30,58.66,8.11,20.87,17.09,23.60,12.07,25.50,15.19,12.04,8.02,5.01,16.75
1196,77.73,27.29,56.38,8.03,20.98,15.12,21.33,11.29,25.32,15.37,12.17,7.57,4.13,15.58
1242,80.01,28.65,57.89,7.02,18.05,15.69,22.39,11.54,27.41,16.80,13.11,7.75,5.28,16.82
1246,78.38,27.82,57.08,6.36,17.03,16.37,23.01,12.10,26.46,15.06,12.70,6.62,5.85,16.26
1257,77.98,27.34,58.77,7.98,21.63,15.31,21.87,12.65,26.42,15.70,12.60,8.28,4.78,17.59
1314,84.53,30.54,63.20,6.61,17.58,16.85,23.62,13.91,28.39,18.36,13.23,7.79,4.68,15.78
1393,77.60,27.71,57.73,6.83,18.54,15.34,22.17,12.25,26.23,16.23,12.67,8.81,6.12,14.92
1437,78.44,26.38,56.51,8.76,22.90,16.93,22.37,11.25,25.60,15.03,12.12,7.25,3.60,16.73
1438,70.89,25.30,53.73,6.84,17.63,13.45,18.51,9.85,25.47,14.31,10.74,6.08,3.97,14.87

In [26]:
winner_reg_means.describe()

,wscore,wfgm,wfga,wfgm3,wfga3,wftm,wfta,wor,wdr,wast,wto,wstl,wblk,wpf
count,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000
mean,78.440909,27.655455,57.700909,7.327273,19.248182,15.800909,22.115455,11.974545,26.354545,15.706364,12.473636,7.470909,5.045455,16.050909
std,3.321552,1.313997,2.287004,0.828071,2.114199,1.065819,1.414195,1.022432,1.045785,1.096433,0.704220,0.810586,1.065377,0.862849
min,70.890000,25.300000,53.730000,6.300000,16.550000,13.450000,18.510000,9.850000,25.320000,14.310000,10.740000,6.080000,3.600000,14.870000
25%,77.700000,27.315000,56.710000,6.720000,17.605000,15.310000,21.700000,11.415000,25.485000,15.120000,12.145000,6.935000,4.405000,15.460000
50%,77.980000,27.510000,57.730000,7.020000,18.540000,15.690000,22.370000,12.100000,26.230000,15.370000,12.670000,7.570000,4.780000,15.920000
75%,79.225000,28.060000,58.275000,8.005000,20.925000,16.610000,22.940000,12.430000,26.935000,15.965000,12.915000,7.905000,5.565000,16.740000
max,84.530000,30.540000,63.200000,8.760000,22.900000,17.090000,23.620000,13.910000,28.390000,18.360000,13.230000,8.810000,7.310000,17.590000