In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import glob
import numpy as np

import seaborn as sns

pd.options.display.max_rows = 100

In [2]:
from sqlalchemy import create_engine

db_name = 'mm_db'
db_password = 'database123!'
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/{db_name}"
engine = create_engine(db_string)

# Random Forest Classifier Model

**Ultimatley we want our model to train with aggregated season data and a season average of the Massey Ordinal Rankings (https://masseyratings.com/faq.php)-**

**Question: Will Team1 win or lose Team2**

**Can we train our model w featured data to predict outcomes**

**This random forest model is in a format we went over in the course;
It can provide a sufficient model; while we evaluate other methods**

Classification in random forests employs an ensemble methodology to attain the outcome. The training data is fed to train various decision trees. This dataset consists of observations and features that will be selected randomly during the splitting of nodes.Random Forest is based on the bagging algorithm and is Ensemble Learning. It creates as many trees on the subset of the data and combines the output of all the trees.


**Pros: Reduces overfitting, reduces the variance and therefore improves the accuracy**

**Cons: By default, it creates 100 trees in Python sklearn library. To do so, this algorithm requires much more computational power and resources**


We have a base model we can weigh features differently and incoporate more data sources;


Ideas we want to try hopefully;

Incorporating; Stength of Schedule

or Stength of Conference/

DayNum/ Rankings?,

DataRange Filter By Season(Does more season data improve/ less?,

SeedingData,

Last14DayForm

# **Aggregate_Season Stats / Sets of Features for our Model//**

## Basic Offensive/Defensive Statistical Data - Split into winning and losing team 

Wins, Losses, 

Win/ Loss Location,

Winning/Losing Field Goals Made,

Winning/Losing Field Goal Attempts,

Winning/Losing Field Goal 3pters Made,

Winning/Losing Field Goal 3pter Attemtpts,

Winning/Losing Free Throws Made,

Winning/Losing Free Throws Attempted,

Winning/Losing Offensive Rebounds,

Winning/Losing Defensive Rebounds,

Winning/Losing Assists,

Winning/Losing Stls,

Winning/Losing Blocks,

Winning/Losing Personal Fouls

In [4]:
season_results = pd.read_sql("select * from mregular_season_detailed_results", engine)
season_results = season_results.copy()
season_results = season_results[season_results['season']>=2005].reset_index(drop=True)

winning_cols = ['season', 'wteam_id', 'wloc', 'wfgm', 'wfga', 'wfgm3', 'wfga3', 'wftm', 'wfta', 'wor', 'wdr', 'wast', 'wto', 'wstl', 'wblk', 'wpf']
losing_cols = ['season', 'lteam_id', 'lfgm', 'lfga', 'lfgm3', 'lfga3', 'lftm', 'lfta', 'lor', 'ldr', 'last', 'lto', 'lstl', 'lblk', 'lpf']
columns = ['season', 'team_id', 'fgm', 'fga', 'fgm3', 'fga3', 'ftm', 'fta', 'or', 'dr', 'ast', 'to', 'stl', 'blk', 'pf']

winning_stats = season_results[winning_cols].groupby(['season', 'wteam_id']).mean().reset_index()
winning_stats.columns = columns

losing_stats = season_results[losing_cols].groupby(['season', 'lteam_id']).mean().reset_index()
losing_stats.columns = columns

reg_season_stats = pd.concat([winning_stats, losing_stats]).groupby(['season', 'team_id']).mean().reset_index()
reg_season_stats['id'] = reg_season_stats.season.astype(str) + reg_season_stats.team_id.astype(str)


reg_season_stats.head()

,season,team_id,fgm,fga,fgm3,fga3,ftm,fta,or,dr,ast,to,stl,blk,pf,id
0,2005,1102,21.242647,48.022059,8.960784,24.892157,9.110294,12.531863,7.578431,15.071078,13.473039,10.144608,8.578431,1.715686,16.865196,20051102
1,2005,1103,24.322222,55.988889,8.088889,21.633333,13.338889,19.633333,10.244444,22.566667,15.416667,13.366667,6.894444,3.800000,18.950000,20051103
2,2005,1104,24.195652,52.335404,6.866460,18.822981,15.801242,21.136646,9.257764,24.863354,12.400621,12.186335,4.633540,4.034161,15.472050,20051104
3,2005,1105,23.564904,59.036058,6.072115,20.168269,15.485577,25.187500,12.944712,24.115385,12.908654,15.370192,10.569712,3.737981,19.334135,20051105
4,2005,1106,19.433333,51.000000,4.533333,15.100000,14.566667,22.433333,11.266667,22.400000,10.366667,15.766667,6.700000,2.000000,17.466667,20051106

## Add Massey Ranks and aggregate the Ordinal Rank into Mean, Min, Max 

Massey Ordinal Rank gives us a team rank for every DayNum in the College Basketball Season.

**In addition to using reg_season_stats/ statistics for each team- We will use Massey's Ordinal Rank to provide a strength indicator for our model;**

The "Massey Ordinal Rank " This file lists out rankings (e.g. #1, #2, #3, ..., #N) of teams going back to the 2002-2003 season, under a large number of different ranking system methodologies. The information was gathered by Kenneth Massey and provided on his College Basketball Ranking Composite page. https://www.masseyratings.com/cb/compare.htm

 
**Pros: Instead of training from DayNum and ranking by day throughout the year; take min, max, avg. by 'Season' & 'TeamID' and train model on massey ordinal rankings by ex: Season(2010) and TeamID. --Is a quick efficient way to snapshot a teams rank by yr**
 
 Kaggle also admits their rankings are submitted at different days of the week sometimes behind games etc
 
 Another reason to take a teams average rank(Ordinal Rank)
 https://www.kaggle.com/competitions/mens-march-mania-2022/data
 
 **Cons: 
 High Seeded Teams/ Cinderella teams where rankings are low/ weighing them down ?,**
 
 **Taking a min, max, avg ranking is again weighing teams outside of top 25 heavily down, we would assume**
 
**Also this is an order rank, if we had a rating rank that could differentiate teams better by strength, that would improve the model we think**

In [5]:
ranks = pd.read_sql("select * from mmassey_ordinals_thruday128", engine)

ranks = ranks[ranks['season']>=2005].reset_index(drop=True)

aggregate_ranks = ranks.groupby(['season', 'team_id']).agg({'ordinal_rank': ['mean', 'min', 'max']})
aggregate_ranks.columns = ['_'.join(col) for col in aggregate_ranks.columns]

massey_ranks = aggregate_ranks.reset_index()
massey_ranks['id'] = massey_ranks.season.astype(str) + massey_ranks.team_id.astype(str)
massey_ranks

,season,team_id,ordinal_rank_mean,ordinal_rank_min,ordinal_rank_max,id
0,2005,1102,88.206422,9,198,20051102
1,2005,1103,101.260766,33,269,20051103
2,2005,1104,20.663900,7,86,20051104
3,2005,1105,267.474328,119,325,20051105
4,2005,1106,261.747549,91,322,20051106
...,...,...,...,...,...,...
6244,2022,1468,206.520604,113,332,20221468
6245,2022,1469,271.579670,175,342,20221469
6246,2022,1470,220.846154,122,345,20221470
6247,2022,1471,238.221154,34,313,20221471
6248,2022,1472,285.106443,114,358,20221472

# Combine Features

In [ ]:
def is_winning(wteam, lteam):
    if wteam < lteam:
        return 1
    else:
        return 0
    
    
march_tourney = pd.read_csv(files[1])
march_tourney = march_tourney[march_tourney['Season'] >= 2005].reset_index(drop=True) 

train = march_tourney

train['is_win'] = train.apply(lambda x: is_winning(x['WTeamID'], x['LTeamID']), axis=1)
train['team_a'] = train.Season.astype(str) + train.WTeamID.astype(str)
train['team_b'] = train.Season.astype(str) + train.LTeamID.astype(str)

train = train.drop(['WScore', 'LScore'], axis=1)
train = pd.merge(train, massey_Ranks, left_on='team_a', right_on='id').merge(massey_Ranks, left_on='team_b', right_on='id', suffixes=('_teama', '_teamb'))

train = train.drop(['Season_x', 'Season_y', 'id_teama', 'id_teamb', 'TeamID_teama', 'TeamID_teamb'], axis=1)
train = pd.merge(train, reg_season_stats, left_on='team_a', right_on='id').merge(reg_season_stats, left_on='team_b', right_on='id', suffixes=('_teama', '_teamb'))

train = train.drop(['Season_x', 'Season_y', 'team_a', 'team_b', 'TeamID_teama', 'TeamID_teamb', 'id_teama', 'id_teamb'], axis=1)
train = train.drop(['DayNum', 'WTeamID', 'LTeamID', 'NumOT', 'Season', 'WLoc'], axis=1)

print(train.shape)
train.count()